body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif; 
background-image: url("b.jpeg");
background-repeat:repeat-x ; 
background-image: url(img/home1.jpg);
background-attachment: fixed;

}  
#m2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(26, 5, 102);
    font-size:xx-large;

}
#m1{
    padding-left:400px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(151, 15, 15);
    font-size:xx-large;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: rgb(243, 228, 10);
}
.site_header {
    border-bottom: 1px solid #ccc;
	background-color: rgb(227, 123, 12);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

.site_nav ul,
.site_nav li {
    margin: 0px;
    padding-left: 35px ;
}
.site_nav li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bmi_box{
	width:400px;
	height: 500px;
	left: 50%;
	top: 50%;
	transform: translate(20%);
	justify-content: center;
	margin: 0;
	border: 5px solid rgb(28, 21, 21);
	background-color:rgb(227, 123, 12);
    background-image: url(img/image.jpg);
}

.bmi_box .t1{
    padding-top: 20%;
	display: flex;
	font-size: xx-large;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	
}
#bm:hover {
    color: rgb(238, 13, 13);
}