body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif; 
background-image: url("b.jpeg");
background-repeat:repeat-x ; 
background-image: url(img/home1.jpg);

}  


a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: rgb(179, 179, 179);
}
.site_header {
    border-bottom: 1px solid #ccc;
	background-color: rgb(227, 123, 12);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
.site_name h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.site_nav ul,
.site_nav li {
    margin: 0;
    padding: 0;
}
.site_nav li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}
.bmi_box{
	width:400px;
	height: 550px;
	left: 50%;
	top: 50%;
	transform: translate(20%);
	justify-content: center;
	margin: 0;
	border: 5px solid rgb(28, 21, 21);
	background-color:rgb(227, 123, 12);
    background-image: url(img/image.jpg);
}

.bmi_box .t1{
	display: flex;
	font-size: large;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	
}