.tab {
    display: inline-block;
    margin-left: 500px;
}
.yy{
text-align: center;
width: 30%;
position: relative;
left:35%;
border-width:5px;
border-style:inset;
border-color:rgb(10, 10, 10)
}
input:hover{
background-color:blanchedalmond;}